<header>
    <nav class="navbar">
      <div class="logo">
        <a href="/">
          <img src="/assets/gigconnect.logo.png" alt="GigConnect Logo">
          <span class="logo-text">GigConnect</span>
        </a>
      </div>
  
      <ul class="nav-link">
        <li><a href="/howitworks" class="work">How It Works</a></li>
        <li><a href="/findHelpNow" class="Help">Services</a></li>
        <li><a href="/contactus" class="contact">Contact us</a></li>
      </ul>
  
      <div class="nav-buttons">
        <div class="dropdown">
          <button class="Login-btn">Login</button>
          <div class="dropdown-content">
            <a href="/clientlogin">Login as Client</a>
            <a href="/professionallogin">Login as Professional</a>
          </div>
        </div>
        <a href="/signup" class="Signup-btn">Sign up</a>
      </div>
    </nav>
  </header>
  