

<main id="howItWorksPageMain" class="how-it-works-main">
    <h1 class="page-title">How GigConnect Works</h1>

    <section id="stepsContainer" class="steps-container">
        <!-- Content will be populated by howitworks.js -->
    </section>
</main>

<script src="/javascript/howitworks.js"></script>


